.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 2rem auto;

}

footer > div {
    margin: 8px;
}

.footer-social-icons > a {
    padding: 18px;
    font-size: 22px;
    color: #FFFFFF;
}

.footer-links-container i {
    font-size: 12px;
    padding: 4px;
}

.footer-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: .2rem auto;
}