@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    letter-spacing: .5px;
    line-height: 24px;
    color: #ffffff;
    margin: 0px;
    background-color: #000000;
}

a {
    cursor: pointer;
}

input, textarea {
    /* resize: none; */
    font-family: 'PT Sans', sans-serif;
    border: 1px solid #a6a6a6;
    width: 100%;
    resize: vertical;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;
}

form > button {
    width: 100%;
    padding: 6px;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #a6a6a6;
    box-shadow: 0 1px 2px rgba(15,17,17,.15) inset;

}

form > button:hover {
    background-color: #F7FAFA;
}

.margin-vertical {
    margin: 7px 0px;
}

.on {
    color: #009B00;
    padding: none;
}

.off {
    color: #cccccc;
    padding: none;
}

.amazon-echo {
    font-family: 'PT Sans', sans-serif;
}

.small-bold {
    font-weight: 500;
    font-size: 14px;
}

.right-text {
    text-align: right;
}

.error {
    color: #FF0000;
}

.fa-x {
    font-size: 16px;
}

.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 17.6rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    background-color: #000000
}

.dark-grey-background {
    background-color: #0B0B0B;
}

.mid-grey-background {
    background-color: #1F1F1F;
}

.grey-background {
    background-color: #1a1a1a;
}

.white-background {
    background-color: #ffffff;
    color: #000000;
}

.light-grey-background {
    background-color: #f3f3f3;
    color: #0f1111;
}

.light-grey {
    color: #f3f3f3;
}

.image-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.small-title {
    font-size: 20px;
}

.small-title:hover {
    color: #4BD593;
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.big-title {
    font-size: 48px;
}

.green-text {
    color: #4BD593;
}

.green-link {
    color: #4BD593;
    font-size: 16px;
    font-weight: 500;
}

.no-button {
    border: none;
    background: none;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}