@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

/* Checked Tags */
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #282828;
  margin: 0px auto;
  min-width: 1024px;
  max-width: 1280px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

Link {
  cursor: pointer;
}

h1,
h2,
h3 {
  padding: none;
  font-weight: 400;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  /* padding: none; */
}

input,
textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
  border-radius: 4px;
}
/* END Checked Tags */

/* Checked Classes*/
.big-green-button {
  width: 100%;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #4bd593;
  border-radius: 6px;
}

.big-green-button:hover {
  /* background-color: #F7FAFA; */
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

.font-xxlarge {
  font-size: 48px;
}

.font-xlarge {
  font-size: 38px;
}

.font-large {
  font-size: 36px;
}

.font-mid-large {
  font-size: 34px;
}

.font-small {
  font-size: 18px;
}
/* END Checked Classes*/

.slick-prev {
  left: -2.2rem;
}

.slick-next {
  right: 0.1rem;
}

.slick-prev:before,
.slick-next:before {
  font-size: 32px;
  color: #4bd593;
}

.hover-background:hover {
  background: #ffffff10;
}

form > button {
  width: 100%;
  padding: 6px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
}

form > button:hover {
  /* background-color: #F7FAFA; */
  background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

form > label select {
  color: #111111;
  font-size: 13px;
  font-weight: 700;
  padding-left: 2px;
  padding-bottom: 2px;
}

div > .center {
  margin-left: auto;
  margin-right: auto;
}

footer > .center {
  margin-left: auto;
  margin-right: auto;
}

.margin-vertical {
  margin: 7px 0px;
}

.on {
  color: #009b00;
  padding: none;
}

.off {
  color: #cccccc;
  padding: none;
}

.amazon-echo {
  font-family: "PT Sans", sans-serif;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.small-bold {
  font-weight: 500;
  font-size: 14px;
}

.mid-bold {
  font-weight: 500;
}

.right-text {
  text-align: right;
}

.error {
  color: #c40000;
}

.fa-x {
  font-size: 16px;
}

.bottom-spacing {
  margin-bottom: 14px;
}

.border-radius {
  border-radius: 4px;
}

.light-border-radius {
  border-radius: 2px;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 18rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  /* background-color: #111111; */
}

.dark-grey-background {
  background-color: #0b0b0b;
}

.mid-grey-background {
  background-color: #1f1f1f;
}

.grey-background {
  background-color: #1a1a1a;
}

.white-background {
  background-color: #ffffff;
  color: #000000;
}

.light-grey-background {
  background-color: #f3f3f3;
  color: #0f1111;
}

.light-grey {
  color: #f3f3f3;
}

/* text-slate-400 */
/* .mid-grey {
  color: #bebdbd;
} */

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.small-title {
  font-size: 20px;
}

.small-title:hover {
  color: #4bd593;
}

/* text-3xl font-medium */
/* .title {
  font-size: 32px;
  font-weight: 500;
} */

.big-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
}

.green-text {
  color: #4bd593;
}

.white-text {
  color: #ffffff;
}

.black-text {
  color: #000000;
}

.green-background {
  background-color: #4bd593;
}

.green-link {
  color: #4bd593;
  font-size: 16px;
  font-weight: 500;
}

.cursor-pointer {
  cursor: pointer;
}

.error-box {
  display: inline-flex;
  border-radius: 8px;
  border: 1px solid #c40000;
  width: 350px;
  padding: 14px 18px;
}
